<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32002" type="text" id="username" default=""/>
        <setting label="32003" type="text" id="password" option="hidden"  default=""/>
        <setting label="32025" type="enum" id="provider_select" lvalues="32026|32027" default="0" />
        <setting label="32015" type="lsep"/>
        <setting label="32016" type="text" id="accinfo_status" default="-" enable="false"/>
        <setting label="32017" type="text" id="accinfo_account" default="-" enable="false"/>
        <setting label="32018" type="text" id="accinfo_subscription" default="-" enable="false"/>
        <setting label="32019" type="text" id="accinfo_network_ip" default="-" enable="false"/>
        <setting label="32020" type="text" id="accinfo_network" default="-" enable="false"/>
        <setting label="last check" type="number" id="accinfo_lastcheck" default="0" enable="false" visible="false"/>
    </category>
    <category label="32014">
        <setting id="epg_in_channel" type="bool" label="32005" default="true"/>
        <setting id="epg_in_plot" type="bool" label="32006" default="true"/>
        <setting id="epg_hours_future" label="32007" type="slider" default="3" range="1,5" option="int" />
     </category>
    <category label="32011">
        <setting id="recordings_episode_id" type="bool" label="32012" default="true"/>
        <setting id="recordings_date" type="bool" label="32013" default="true"/>
    </category>
    <category label="32004">
        <setting id="stream_select" label="32008" type="labelenum" values="auto|hd|sd|ld|chromecast|chromecast-sd|capped-hd" default="auto" />
        <setting id="metadata_on_play" type="bool" label="32009" default="false"/>
        <setting id="filter_pictograms" type="bool" label="32010" default="false"/>
    </category>
</settings>
